<h3>SOLAR PANEL</h3>
<nav class="main-header__nav">
    <ul class="main-header__item-list">
        <li class="main-header__item"><a href="/home">HOME</a></li>
        <li class="main-header__item"><a href="/products">PRODUCTS</a></li>
        <li class="main-header__item" id="dropdown"><a class="active" href="/customerLogin">SIGN IN</a></li>
    </ul>
</nav>
