<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS File -->
    <title>Solarify</title>

    <link rel="stylesheet" href="public/css/style.css" />
  </head>
  <body>
    <header>
      <h2 class="Logo">
        <ion-icon name="partly-sunny-outline"></ion-icon>
        Solarify
      </h2>
      <nav class="navigation">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/sales">Services</a>
        <a href="#">Contact</a>
        <button class="btnLogin-popup">Login</button>
      </nav>
    </header>
    <div class="container">
      <h2>Welcome to Solarify</h2>
    </div>
    <div class="container-para">
      <img
        src="public/images/A2.png"
        alt="Solar panels"
        width="200px"
        ,
        height="200"
      />
      <p>
        Welcome to our solar energy management page! Here, you'll find
        information on how you can harness the power of the sun to power your
        home and reduce your carbon footprint. Our solar energy management
        system is designed to provide you with a seamless and hassle-free way to
        switch to solar power. We offer a range of solar panels, batteries, and
        inverters that are designed to work together to provide you with
        reliable, efficient, and cost-effective energy solutions. Our solar
        panels are made using high-quality materials and are built to withstand
        the toughest weather conditions. They are installed on your roof or on a
        ground-mounted system, where they convert sunlight into electricity that
        can be used to power your home. Our panels are backed by a 25-year
        warranty, giving you peace of mind and assurance that your investment is
        protected. Our solar energy management system also includes batteries
        that store excess solar energy for use when the sun isn't shining. This
        means that you can still power your home even during power outages or
        when the grid is down. We also provide inverters that convert the direct
        current (DC) energy produced by the solar panels into alternating
        current (AC) energy that can be used to power your home's appliances and
        electronics. Our inverters are designed to maximize energy efficiency,
        reduce energy waste, and extend the lifespan of your solar panels. Our
        solar energy management system is easy to use and can be monitored
        remotely through a mobile app. This allows you to track your energy
        usage, monitor your system's performance, and identify any potential
        issues that may arise. If you're ready to make the switch to solar
        energy and start saving money on your electricity bills, contact us
        today to learn more about our solar energy management system and how we
        can help you harness the power of the sun!
      </p>
    </div>
    <!--  <div class="images">
            <img src="A2.png" alt="Solar panels">
        </div> -->
  </body>
</html>
