<form action="" method="post">
  
  <div id="container" >
      <h4 class = "container">RETAILER LOGIN</h4>
      <input type="text" placeholder="Enter Username" name="uname" required>
      <input type="password" placeholder="Enter Password" name="psw" required>
  </div>

  <div id="container" >
    <button id="buttn" type="submit">Login</button></form>
    <button id="buttn1" onclick="window.location.href='/signup'">sign up</button>
    </br>
    
    <span class="psw"> proceed to customer  <a href="/customerLogin">sign in page..!!</a></span>
    </br>
  <span class="psw">Forgot <a href="#">password?</a></span>
    
  </div>
</form>