<form action="" method="post">
  
  <div id="container" >
      <h4 class = "container">RETAILER LOGIN</h4>
      <input type="text" placeholder="Enter First Name" name="firstName" required>
      <input type="text" placeholder="Enter Last Name" name="lastName" required>
      <input type="text" placeholder="Enter email ID" name="email" required>
      <input type="number" placeholder="Enter phone number" name="phoneNumber" required>
      <input type="password" placeholder="Enter Password" name="passwordI" required>
    
  </div>

  <div id="container" >
    <button id="buttn" type="submit">Login</button></form>
    
    </br>
    
    <span class="psw"> proceed to customer  <a href="/customerLogin">sign in page..!!</a></span>
    </br>
  <span class="psw">Forgot <a href="#">password?</a></span>
    
  </div>
  
